.App {
  align-content: center;
  text-align: center;
  background-color: #fdf7da;
  min-height: 0vh;
}

.InfoBox {
  background-color: #C6DFF2;
  margin-top: 0vh;
  min-height: 50vh
}

.InfoBox2 {
  background-color: #fdf7da;
  margin-top: -30%;
  min-height: 50vh
}
